<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
        <!-- Link the main stylesheet -->
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    
        <!-- Link fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&display=swap"
            rel="stylesheet">
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
        <!-- <script src="{{ url_for('static', path = '/tuning.js') }}"></script> -->
    
        <title>{{ book_title }}</title>
    </head>

    <body>
        <article>
            <a href=https://coda.io/@yash-bonde/learning-system target="_blank">
            <img src="{{ url_for('static', path='/SamiLearnsLogo.png') }}" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 2rem;"></a>
            <button><a href="{{ user_home_url }}">Go Back ➜</a></button>
            <h1>{{ book_title }}</h1>
            {% if intro_text is not none %}
                <p>{{ intro_text }}</p>
            {% endif %}

            {% for section in document_sections %}
            <span style="display: inline;">
                <h2>{{ section.name }}</h2>
                <button style="margin-top: 0.0rem; text-align: left; padding: 0%;" onclick="tune_counts('more' , '{{ book_id }}' , '{{ section.id }}')">👍</button>
                <button style="margin-top: 0.0rem; text-align: left; padding: 0%;" onclick="tune_counts('less' , '{{ book_id }}' , '{{ section.id }}')">🤙</button>
            </span>
                {% for record in section.records %}
                <p>{{ record.htmltext }} <a href="{{ record.master_link.url }}" target="_blank">{{ record.master_link.link_name }}</a></p>
                {% endfor %}
            {% endfor %}
            <p><br><br><br></p>
        </article>
        <footer>
            <p>Made with ♥ in India for humanity!</p>
        </footer>
    </body>

<script>
function tune_counts(inc_dec, book_id, section_id) {
    // user wants more items in this section
    console.log(book_id, "more_like_thismore_like_thismore_like_thismore_like_thismore_like_thismore_like_this", section_id);
    var req = new Request('/{{ username }}/books/{{ book_id_url }}', {
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        method: "POST",
        body: JSON.stringify({
            "more_less": inc_dec,
            "book_id": book_id,
            "section_id": section_id
        })
    });
    fetch(req).then(function (response) {
        console.log(response);
        response.json().then(function (data) {
            console.log(data);
            window.location.href = data.book_url
        })
    });
};
</script>
</html>