<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
        <!-- Link the main stylesheet -->
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    
        <!-- Link fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&display=swap"
            rel="stylesheet">
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
    
        <title>{{ book_title }}</title>
    </head>

    <body>
        <article>
            <button>Go Back ➜</button>
            <h1>{{ book_title }}</h1>
            <p>{{ intro_text }}</p>

            {% for section in document_sections %}
            <h2>{{ section.name }}</h2>
                {% for record in section.records %}
                <p>{{ record.htmltext }} <a href="{{ record.link.url }}">{{ record.link.name }}</a></p>
                {% endfor %}
            {% endfor %}
        </article>
    </body>
</html>