<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Link the main stylesheet -->
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">

    <!-- Link fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spartan:600&display=swap" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>

    <title>SamiLearns Home</title>
</head>

<body>
    <div class="platform">
        <h1> Welcome to <font color="#34CD36">SamiLearns</font>, {{ user_first_name }}</h1>
        <p>SamiLearns is a new learning system whose aim is to fundamentally reduce the distance between existance of information
        and your brain where it will be used. Read more <a href="https://coda.io/@yash-bonde/learning-system" target="_blank">here</a>.</p>

        <h2>Gather New Knowledge</h2>
        <p>There are two steps to getting the information closer to your brain. First gather the links you think are
            important and paste them here and add title to your book. Second start reading your personlised notebook</p>
        <div class="queryarea">
            <textarea type="text" placeholder="What do want to call it" id="bookNameTextArea"
                style="height: 2rem; padding: 8px 15px;"></textarea>
        <textarea type="text" placeholder="Add links here..." id="queryTextArea"
            style="margin-top: 0rem;"></textarea>
        <button onclick="gatherKnowledge()">Start Generating</button>
        </div>

        <h2>Some of your knowledge</h2>
        <p>List of what you have understood, information will clubbed in the future to create a understanding map.</p>
        <div style="margin: 1rem;">
        {% for doc in documents %}
            <li><a href="{{doc.url}}">{{doc.name}}</a></li>
        {% endfor %}
        </div>

    </div>

</body>

<script>
// https://stackoverflow.com/questions/1418050/string-strip-for-javascript
if (typeof (String.prototype.trim) === "undefined") {
        String.prototype.trim = function () {
            return String(this).replace(/^\s+|\s+$/g, '');
        };
    }

function gatherKnowledge(){
    var links = document.getElementById("queryTextArea");
    var links_flat = links.value.split("\n");
    links_flat = links_flat.filter(function(el){
        if(el.trim() != ""){
            return true;
        }
    })
    var book_name = document.getElementById("bookNameTextArea").value;
    console.log("Book Name:", book_name, "Final links list:", links_flat);
}

</script>

</html>